body {
    background-color: #eee;
}

.mylabel {
    font-size: 12px;
    margin-bottom: 1px;
}

.form-control::-webkit-input-placeholder { color: #ccc; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #ccc; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #ccc; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #ccc; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #ccc; }  /* Microsoft Edge */


// npm run watch